$titleHeight: 22px;
$titleBackgroundColor: #eee;
$leftWidth: 300px;
$rightWidth: calc(100% - #{$leftWidth});
$borderColor: #ccc;
$statusAndWriteHeight: 60px;
$personsAndMessagesHeight: calc(100% - #{$statusAndWriteHeight});
$personHeight: 80px;
$personSelectedBackgroundColor: #f2f2f2;

* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: #fff;
}
body, html, #root, #root2 {
  height: 100%;
}

#title {
  font-size: 12px;
  text-align: center;
  height: $titleHeight;
  line-height: $titleHeight;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: $titleBackgroundColor;
  border-bottom: 1px solid $borderColor;
}

#app {
  height: calc(100% - #{$titleHeight});
}

#left {
  float: left;
  height: 100%;
  width: $leftWidth;
  border-right: 1px solid $borderColor;

  #persons {
    overflow-y: auto;
    height: $personsAndMessagesHeight;

    .person {
      height: $personHeight;
      &.selected {
        background-color: $personSelectedBackgroundColor;
      }
    }
  }

  #status {
    height: $statusAndWriteHeight;
    border-top: 1px solid $borderColor;
  }
}

#right {
  float: left;
  height: 100%;
  width: $rightWidth;

  #messages {
    overflow-y: auto;
    height: $personsAndMessagesHeight;
  }

  #write {
    height: $statusAndWriteHeight;
    border-top: 1px solid $borderColor;
  }
}
