$titleHeight: 22px;
$titleBackgroundColor: #eee;
$leftWidth: 320px;
$rightWidth: calc(100% - #{$leftWidth});
$borderColor: #e8e8e8;
$statusAndWriteHeight: 60px;
$personsAndMessagesHeight: calc(100% - #{$statusAndWriteHeight});
$personHeight: 80px;
$personLeftAndRightPadding: 30px;
$personSelectedBackgroundColor: #fafafa;
$personLeftWidth: 50px;
$personRightWidth: calc(100% - #{$personLeftWidth});
$personNameLineHeight: $personLeftWidth / 2;

* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  cursor: default;
  overflow: hidden;
  background-color: #fff;
  -webkit-user-select: none;
}

body, html, #root, #root2 {
  height: 100%;
}

#title {
  font-size: 12px;
  text-align: center;
  height: $titleHeight;
  line-height: $titleHeight;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: $titleBackgroundColor;
  border-bottom: 1px solid $borderColor;
}

#app {
  height: calc(100% - #{$titleHeight});
}

#left {
  float: left;
  height: 100%;
  width: $leftWidth;
  border-right: 1px solid $borderColor;

  #persons {
    overflow-y: auto;
    height: $personsAndMessagesHeight;

    .person {
      height: $personHeight;
      padding: 0 $personLeftAndRightPadding;

      &.selected {
        background-color: $personSelectedBackgroundColor;
      }

      .personLeft {
        float: left;
        width: $personLeftWidth;

        .profilePicture {
          border-radius: 50%;
          width: $personLeftWidth;
          height: $personLeftWidth;
          margin-top: ($personHeight - $personLeftWidth) / 2;
        }
      }

      .personRight {
        float: left;
        color: #aaa;
        font-size: 13px;
        padding-left: 15px;
        width: $personRightWidth;
        padding-top: ($personHeight - $personLeftWidth) / 2;

        .name {
          width: 80%;
          color: #000;
          float: left;
          overflow: hidden;
          font-weight: bold;
          line-height: $personNameLineHeight;
        }

        .date {
          width: 20%;
          float: right;
          font-size: 10px;
          line-height: $personNameLineHeight;
        }

        .lastMessage {
          clear: both;
          overflow: hidden;
          line-height: $personNameLineHeight;
        }
      }
    }
  }

  #status {
    height: $statusAndWriteHeight;
    border-top: 1px solid $borderColor;
  }
}

#right {
  float: left;
  height: 100%;
  width: $rightWidth;

  #messages {
    overflow-y: auto;
    height: $personsAndMessagesHeight;
  }

  #write {
    height: $statusAndWriteHeight;
    border-top: 1px solid $borderColor;
  }
}
